@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&display=swap");
@import url("https://fonts.cdnfonts.com/css/thegoodmonolith");
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

@font-face { 
    font-family: 'Noto Sans KR'; font-style: normal; 
    font-weight: 100; 
    src: url(../fonts/NotoSansKR-Thin.woff2) format('woff2'),
        url(../fonts/NotoSansKR-Thin.woff) format('woff'), 
        url(../fonts/NotoSansKR-Thin.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; font-weight: 300; 
    src: url(../fonts/NotoSansKR-Light.woff2) format('woff2'), 
        url(../fonts/NotoSansKR-Light.woff) format('woff'), 
        url(../fonts/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; font-weight: 400; 
    src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2'), 
        url(../fonts/NotoSansKR-Regular.woff) format('woff'), 
        url(fonts/notosans/NotoSansKR-Regular.otf) format('opentype'); 
}

@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; font-weight: 500; 
    src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2'), 
        url(../fonts/NotoSansKR-Medium.woff) format('woff'), 
        url(../fonts/NotoSansKR-Medium.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; font-weight: 700; 
    src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2'), 
        url(../fonts/NotoSansKR-Bold.woff) format('woff'), 
        url(../fonts/NotoSansKR-Bold.otf) format('opentype'); 
} 

@font-face { 
    font-family: 'Noto Sans KR'; 
    font-style: normal; font-weight: 900; 
    src: url(../fonts/NotoSansKR-Black.woff2) format('woff2'), 
        url(../fonts/NotoSansKR-Black.woff) format('woff'), 
        url(fonts/notosans/NotoSansKR-Black.otf) format('opentype'); 
}

/* Noto Sans */
@font-face { 
    font-family: 'Noto Sans Condensed'; font-style: normal; 
    font-weight: 300; 
    src: url(fonts/notosans/NotoSans-CondensedLight.woff2) format('woff2'),
        url(fonts/notosans/NotoSans-CondensedLight.woff) format('woff'), 
        url(fonts/notosans/NotoSans-CondensedLight.otf) format('opentype'); 
}
@font-face { 
    font-family: 'Noto Sans Condensed'; font-style: normal; 
    font-weight: 400; 
    src: url(fonts/notosans/NotoSans-CondensedMedium.woff2) format('woff2'),
        url(fonts/notosans/NotoSans-CondensedMedium.woff) format('woff'), 
        url(fonts/notosans/NotoSans-CondensedMedium.otf) format('opentype'); 
}
@font-face { 
    font-family: 'Noto Sans Condensed'; font-style: normal; 
    font-weight: 500; 
    src: url(fonts/notosans/NotoSans-CondensedSemiBold.woff2) format('woff2'),
        url(fonts/notosans/NotoSans-CondensedSemiBold.woff) format('woff'), 
        url(fonts/notosans/NotoSans-CondensedSemiBold.otf) format('opentype'); 
}
@font-face { 
    font-family: 'Noto Sans Condensed'; font-style: normal; 
    font-weight: 600; 
    src: url(fonts/notosans/NotoSans-CondensedBold.woff2) format('woff2'),
        url(fonts/notosans/NotoSans-CondensedBold.woff) format('woff'), 
        url(fonts/notosans/NotoSans-CondensedBold.otf) format('opentype'); 
}
