@charset "utf-8";

/* 구글폰트 */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Noto+Sans+KR&family=Public+Sans&display=swap');

/* Type Selector Definition */
*{margin:0;padding:0;box-sizing:border-box}
html{height:100%}
header,footer,section,aside,nav,article,div{display:block}
form,fieldset,img,a{border:0 none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:400}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes: none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button,img{vertical-align:middle}
button{border:0 none;background-color:transparent;cursor:pointer}
body,pre,textarea,input,button{font-size:16px;font-family: "Noto Sans KR", sans-serif; color:#333;font-weight:400;word-break:keep-all; letter-spacing: -1px;}
textarea,input,select{font-size:16px;/*border-radius:5px*/}
input,button{line-height:100%}
input{border-radius: 10px;}
input[type='text']:focus, input[type='password']:focus, input[type='date']:focus, input[type='month']:focus, input[type='number']:focus{border: 1px solid #5049ff;}
input[type='submit']{padding:0 5px;border:1px solid #DDE1E4}
input[type='text'],input[type='password'],input[type='date'],input[type='month'],input[type='number'], select{background-color:#F8FAFC;border:1px solid #DDE1E4;padding:9px 14px;color:#333}
input[type=file]::file-selector-button {width: 150px; height: 30px; background: #fff; border: 1px solid rgb(77,77,77); border-radius: 10px; cursor: pointer;}
input[type=file]::file-selector-button:hover {background: rgb(77,77,77); color: #fff;}
input[type='radio'],input[type='checkbox']{border:0 !important;margin:1px !important;padding:2px !important}
input[type='radio'] {font-weight:700}
input[readonly='readonly']{background-color:#e4e7ec}
input:disabled {background-color:#e4e7ec}
label{cursor:pointer}
textarea{padding:10px;border:1px solid #e4e7ec;line-height:130%; background: #F8FAFC; border-radius: 10px;}
textarea:focus{border: 1px solid #5049ff;}
select { appearance: none; -webkit-appearance: none;background:url(../images/common/icon_select.png) right 50% no-repeat; width:10%; padding:4px 5px;min-width:100px}
select::-ms-expand { display:none; }
p{line-height:160%}
*:focus { outline: none;}

a,a:active,a:hover,a:focus{color:inherit;text-decoration:none}
.blind {position:absolute;*position:static;top:-11000px;left:-11000px;width:0;height:0;padding:0;margin:0;color:transparent;font-size:0;line-height:0;overflow:hidden;}

input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {color:#0c193c}
input[type="checkbox"] + label span.check {display:inline-block; width:22px; height:22px; margin:1px 4px 0 0;vertical-align:middle;background:url(../images/check_radio_sheet.png) -22px top no-repeat; cursor:pointer; position:absolute}
input[type="checkbox"]:checked + label span.check {background:url(../images/check_radio_sheet.png) -44px top no-repeat;}
input[type="checkbox"] + label span.text{padding-left:30px; display:block; line-height:150%; min-height:22px; vertical-align:middle}
input[type="radio"] {display:none;}
input[type="radio"] + label {color:#0c193c; display:inline-block}
input[type="radio"] + label span.radio {display:inline-block;width:22px;height:22px;margin:1px 4px 0 0;vertical-align:middle;background:url(../images/check_radio_sheet.png) -66px top no-repeat;cursor:pointer; position:absolute}
input[type="radio"]:checked + label span.radio {background:url(../images/check_radio_sheet.png) -88px top no-repeat;}
input[type="radio"] + label span.text{padding-left:30px; display:block; line-height:150%; min-height:22px; vertical-align:middle}


/* 영문폰트 */
.en {font-family: "Public Sans", sans-serif;}
.en2 {font-family: "Cormorant Infant", serif;}

/* Layout */
body {font-family: "Noto Sans KR", sans-serif; font-size: 16px; line-height: 1.6;}
.wrap {position: relative; margin: 0 auto; overflow: hidden;}

/* header */
header {height: 420px; width: 100%; padding: 30px 0; box-sizing: border-box; display: flex; justify-content: space-between; background: linear-gradient(0deg, #0A00FE 1.44%, #0A00FE 26.44%, #030059 100%); position: relative;}
h1{position: absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}

/* content */
.cont_wrap{max-width: 1200px; margin: -80px auto 180px; background: #fff; z-index: 1; position: relative;}
.cont_wrap h2{text-align: center; padding: 50px 0 0; font-weight: bold; font-size: 32px;}

.step_box{display: flex; justify-content: center; gap: 50px; margin: 90px 0;}
.step_box li{height: 80px; background: #F2F2F2; display: flex; gap: 10px; align-items: center; border-radius: 100px; padding: 0 40px 0 20px; position: relative; min-width: 230px;}
.step_box li:nth-child(1):after, .step_box li:nth-child(2):after{content: ''; width: 24px; height: 24px; background: url(../images/ico_arrow.png) no-repeat; position: absolute; right: -35px;}
.step_box li p.icon{border-radius: 100px; width: 50px; height: 50px; padding: 10px; box-sizing: border-box; background: #d7dae4; display: flex;}
.step_box li p.icon img{ display: block;}
.step_box li p:last-child{line-height: 120%; color:#caccd2;}
.step_box li p:last-child span{display: block; margin-bottom: 5px;}

.step_box li.on{background: #2a2a2a; color: #fff;}
.step_box li.on p.icon{background: #0a00ff;}

.component_box{background: rgba(255, 255, 255, 0.80); box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); padding: 70px;}

.form{display: flex; justify-content: space-between; margin-bottom: 80px;}
.form:last-child{margin-bottom: 0;}
.form .subject{position: relative; width: 20%;}
.form .subject::before{content: ''; width: 1px; height: 100%; position: absolute; left: 20px; border-left: 1px dotted #E0E2E7; top: 15px;}
.form .subject p{display: flex; align-items: center; gap: 10px; z-index: 1; position: relative;}
.form .subject span.num{padding: 10px; display: flex; justify-content: center; align-items: center; border-radius: 100%; width: 40px; height: 40px; color: #fff; background: #E0E2E7;}
.form .subject span{font-size: 17px; font-weight: bold;}

.form .info{width: 80%;}
.form .info ul li{margin-top: 20px; padding: 20px 20px; box-sizing: border-box;}
.form .info ul li:first-child{margin-top: 0; padding-top: 10px;}
.form .info ul li > div{display: flex; flex-direction: column; gap:10px}
.form .info ul li > div label, legend{font-weight: bold;}
.form .info ul li.two{display: flex; justify-content: space-between;}
.form .info ul li.two > div{width: calc(100% / 2 - 10px);}

.in_three{flex-direction: row !important; justify-content: space-between; flex-wrap: wrap; gap: 0 !important;}
.in_three legend{width: 100%;}
.in_three div{display: flex; flex-direction: column; align-items: flex-start; width: calc(100% / 3 - 5px);}

.form.on .subject span.num{background: #2a2a2a; color: #fff;}
.form.on .subject span{font-weight: bold;}
.form.on .subject::before{border-left: 1px dotted #252525;}

textarea{height: 120px; resize: none;}
.required{color: red;}

fieldset{display: flex; gap: 20px;}
fieldset div{display: flex; flex-direction: row; align-items: center; gap: 8px;}
fieldset div label {font-weight: normal !important;}

.btn_area{display: flex; justify-content: space-between; align-items: center; padding: 70px 0 0;}
.btn{border-radius: 10px; color: #fff;}

.btn.next{padding: 20px 40px 20px 20px; background: url(../images/ico_next.png) no-repeat 95% center, linear-gradient(90deg, #040063 0%, #0A01FE 100%);}
.btn.prev{padding: 20px 20px 20px 40px; background: url(../images/ico_prev.png) no-repeat 5% center, linear-gradient(90deg, #0A01FE 0%, #040063 100%);}
.btn.save{padding: 20px 20px 20px 40px; background: url(../images/ico_save.png) no-repeat 8% center, linear-gradient(90deg, #040063 0%, #0A01FE 100%);}

.center{justify-content: center !important;}
.right{justify-content: flex-end !important;}
.hide{display: none;}


/* 채팅 */

.chat_box {box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);}
.chat_box .chat_inner {background: rgb(249 249 255); padding: 70px;}

.ai_chat_box{display: flex; flex-direction: column; align-items: flex-start; margin-bottom: 50px;}

.ai_chat_box .chat{position: relative; padding-top: 8px; max-width: 50%;}
.ai_chat_box .chat p{border-radius: 36px; padding: 20px; background: #fff; box-shadow: 0 0 14.6px 2px rgba(0, 0, 0, 0.15);}
.ai_chat_box .chat::before{content: ''; width: 36px; height: 44px; position: absolute; top: 0; left: 0; background: url(../images/bg_chat.png) no-repeat;}

span.ai{background: linear-gradient(90deg, #040063 0%, #0A01FE 100%); padding: 10px; border-radius: 100%; box-shadow: 0 0 14.6px 2px rgba(0, 0, 0, 0.15);margin-top: 10px;}

.user_chat_box{display: flex; flex-direction: column; align-items: flex-end; margin-bottom: 50px;}

.user_chat_box .chat{position: relative; padding-top: 8px; max-width: 60%;}
.user_chat_box .chat p{border-radius: 36px; padding: 20px; background: #5049ff; box-shadow: 0 0 14.6px 2px rgba(0, 0, 0, 0.15);color: #fff;}
.user_chat_box .chat::before{content: ''; width: 36px; height: 44px; position: absolute; top: 0; right: 0; background: url(../images/bg_chat02.png) no-repeat;}

.answer{margin: 10px 0 20px 20px;}
.answer button{color: #000; border: 1px solid #2a2a2a; padding: 10px 20px; border-radius: 50px; text-align: center;}
.answer button:hover,.answer button.on{color: #fff; background: #2a2a2a;}

.user_chat{width: 100%; background:#f9f9ff; padding: 30px 50px; border-top: 1px dotted #2a2a2a;}
.user_chat .btn_box{margin-bottom: 10px; display: flex;}
.user_chat .btn_box.right{margin-top: 10px; margin-bottom: 0;}

.user_chat .btn_box button{border-radius: 100px; color: #fff;}
.user_chat .btn_box button.add{padding: 12px 20px 12px 45px; background: url(../images/ico_add.png) no-repeat 15px center, #2a2a2a;}
.user_chat .btn_box button.create{padding: 12px 20px 12px 45px; background: url(../images/ico_save.png) no-repeat 15px center, #5049ff;}
.user_chat textarea{width: 100%; height: auto; min-height: 120px;border: 1px solid #ddd;background: #fff;}
.user_chat textarea:focus{border: 1px solid #5049ff;}




/* footer */
footer {width: 100%; padding:100px 0; background: #010102;}
.footer{width: 94% !important; max-width: 1400px; margin: 0 auto; position: relative;}
.foot_top{display: flex; justify-content: space-between; padding-bottom: 40px; margin-bottom: 40px; border-bottom: 1px solid #2a2a2a;}
.foot_info_wrap{display: flex; justify-content: space-between;}
.foot_info{width: 60%;}
.foot_info ul{display: flex; flex-wrap: wrap; margin-bottom: 15px; }
.foot_info2{flex-direction: column; align-items: flex-start;}
.foot_info ul li{color: #fff; text-align: left; margin-top: 15px; line-height: 1.4;}
.foot_info ul li:first-child {margin-top: 0;}
.foot_info ul span{color: #fff; margin: 0 7px;}
.foot_sns a{margin-left: 5px;}
.foot_sns{display:flex;}
.foot_admin a{color: #ffff;}

#top-btn{display: block; margin: 0 0 0 auto; margin-top: 30px; border: 2px solid #fff; width: 40px; height: 40px; border-radius: 50%; background: none; color: #fff;}











/* responsive Web */
/* pc 1650px~1301px */
@media screen and (max-width:1650px) {

}

/* 1300px~1025px */
@media screen and (max-width:1300px) {

}

/* 1024px~801px */
@media screen and (max-width:1024px) {

}

/* 900px~801px */
@media screen and (max-width:900px) {

}

/* 800px~501px */
@media screen and (max-width:800px) {
    .wrap {font-size: 16px;}
    header {padding: 3% 5%;}
    header .menuOpen {display: block; position: relative; width: 32px; height: 10px; margin-top: 10px; transition: top 0.5s; z-index: 101;}
    header .menuOpen span.a {position: absolute; left: 0; top: 0; width: 100%; height: 1px; background: #fff; transition: .3s;}
    header .menuOpen span.b {position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: #fff; transition: .3s;}

    footer {height: 50vh;}
    footer .textWrap {width: 90%; padding: 0; left: 50%; top: 50%; transform: translate(-50%,-50%);}
    footer .textWrap .title {padding-left: 0;}
}

/* 500px~401px */
@media screen and (max-width:500px) {
    
}